<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  version="3.1"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <display-name>Template</display-name>
  <error-page>
    <location>/WEB-INF/views/ErrorHandle/error.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
    <!-- Set httpOnly and Secure flag prevent Session hijacking-->
    <cookie-config>
        <http-only>true</http-only>
        <secure>true</secure>
    </cookie-config>
  </session-config>
</web-app>